@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: local('Homemade Apple'), local('HomemadeApple'), url(https://fonts.gstatic.com/s/homemadeapple/v6/yg3UMEsefgZ8IHz_ryz86IpVThvdH1ZERIrfWb3R7t4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	font-family: cursive;
	color: sienna;
}



.header {
    text-align: center;
	font-family: "Homemade Apple", cursive;
	color: sienna;
	margin: 0px;
	margin-top: 30px;
	word-spacing: 10px;
}


.glyphicon {
			font-size: 20px !important;	
			
			margin-top: -1px !important;
		}


.nav-pills > li > a {
    color: burlywood !important;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover {
	background-color: sienna !important;
	color: burlywood !important;	
}

.nav-pills > li > a:hover {
	background-color: burlywood !important;
	color: sienna !important;
}		



.menu, .contents { 
	background-color: burlywood;
	border: 2px solid sienna;
}

.footer {
    width: 100%;
	font-family: "Homemade Apple", cursive;
	line-height: 15px;
	color: sienna;
}