@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.gstatic.com/s/bungeeinline/v2/Tb-1914q4rFpjT-F66PLCTxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.links:link {
	text-decoration: none;
}

.links:visited {
	color: black;
}

.links:hover {
    text-decoration: underline;
	color: gold;
	background-color: maroon;
    font-size: 100%;
}

.albumArt {
			background-image: url("https://draw.acharts.net/cover/31384-54d575a9ca6d2-l.jpg");
			background-size: 100%;
			height: 300px;
			width: 300px;	
}

